#container{
    	height:350px;
    	width:600px;
    	border:10px solid black;
    	margin:0px auto;
    }
    #container>div{
    	height:350px;
    	width:300px;
    	float:left;
    }
    #mine{
    	background:lightgreen;
    }
    #computer{
    	background:lightblue;
    }
    #computerChoice>IMG{
    	transform:scaleX(-1);
    }
    h1{
    	margin-top:0;
    	text-align:center;
    }
    #container>#result{
    	font-size:40px;
    	width:600px;
    	text-align:center;
    }
